{% extends 'baseAdmin.html.twig' %}
{% block body %}

	<div class="page-wrapper">
		<div class="container-fluid" id="container-wrapper">
			<div class="card">
				<div class="d-sm-flex align-items-center justify-content-between">
					<h5 class=" mb-0 text-gray-800 pl-3">Boats</h5>
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="">Dashboard</a>
						</li>
						<li class="breadcrumb-item">
							<a href="">Boats</a>
						</li>
					</ol>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-lg-12">
					<div class="card mb-4">
						<div class="table-responsive p-3">
							<div id="geniustable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
								<div class="row btn-area">

									<div class="col-sm-8"></div>
									<div class="col-sm-12 col-md-4 pr-3 text-right">
										<a class="btn btn-primary" href=" {{ path('app_reglement_new') }}">
											<i class="fas fa-plus"></i>
											Add New Settlement
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table id="geniustable" class="table table-hover dt-responsive dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="geniustable_info" style="width: 100%;">

											<thead>
												<tr>

													<th>Num</th>
													<th>Mat</th>
													<th>Date</th>
													<th>Duree</th>
													<th>actions</th>
												</tr>
											</thead>
											<tbody>
												{% for reglement in reglements %}
													<tr>

														<td>{{ reglement.num }}</td>
														<td>{{ reglement.mat }}</td>
														<td>{{ reglement.date ? reglement.date|date('Y-m-d') : '' }}</td>
														<td>{{ reglement.duree }}</td>
														<td>
															<a href="{{ path('app_reglement_show', {'id': reglement.id}) }}" class="btn btn-info">
																<i class="fa-sharp fa-regular fa-eye"></i>
																show</a>
															<a href="{{ path('app_reglement_edit', {'id': reglement.id}) }}" class="btn btn-success">
																<i class="fa-solid fa-pen-to-square"></i>edit</a>
														</td>
													</tr>
												{% else %}
													<tr>
														<td colspan="6">no records found</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>


			</div>

		{% endblock %}


		{# 
																																								
																																							
																																								{% block body %}
																																									<h1>Reglement index</h1>
																																								
																																									<table class="table">
																																										<thead>
																																											<tr>
																																												<th>Id</th>
																																												<th>Num</th>
																																												<th>Mat</th>
																																												<th>Date</th>
																																												<th>Duree</th>
																																												<th>actions</th>
																																											</tr>
																																										</thead>
																																										<tbody>
																																											{% for reglement in reglements %}
																																												<tr>
																																													<td>{{ reglement.id }}</td>
																																													<td>{{ reglement.num }}</td>
																																													<td>{{ reglement.mat }}</td>
																																													<td>{{ reglement.date ? reglement.date|date('Y-m-d') : '' }}</td>
																																													<td>{{ reglement.duree }}</td>
																																													<td>
																																														<a href="{{ path('app_reglement_show', {'id': reglement.id}) }}">show</a>
																																														<a href="{{ path('app_reglement_edit', {'id': reglement.id}) }}">edit</a>
																																													</td>
																																												</tr>
																																											{% else %}
																																												<tr>
																																													<td colspan="6">no records found</td>
																																												</tr>
																																											{% endfor %}
																																										</tbody>
																																									</table>
																																								
																																									<a href="{{ path('app_reglement_new') }}">Create new</a>
																																								{% endblock %} #}
