{% extends 'baseAdmin.html.twig' %}

{% block title %}Reglement
{% endblock %}

{% block body %}
	<h1>Reglement</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ reglement.id }}</td>
			</tr>
			<tr>
				<th>Num</th>
				<td>{{ reglement.num }}</td>
			</tr>
			<tr>
				<th>Mat</th>
				<td>{{ reglement.mat }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ reglement.date ? reglement.date|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Duree</th>
				<td>{{ reglement.duree }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_reglement_index') }}">back to list</a>

	<a href="{{ path('app_reglement_edit', {'id': reglement.id}) }}">edit</a>

	{{ include('reglement/_delete_form.html.twig') }}
{% endblock %}
