{% extends 'baseClient.html.twig' %}

{% block body %}

	<div class="page-wrapper">
		<div class="container-xl">
			<div class="page-header d-print-none">
				<div class="row align-items-center">
					<div class="col">
						<h2 class="page-title">Reclamation  Details</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="page-body">
			<div class="container-xl">
				<div class="row row-cards">
					<div class="col-12">
						<div class="card mb-4">
							<div class="card-body">
								<div class="table-responsive-sm">

									<table class="table">
										<tbody>
											<tr>
												<th>Id</th>
												<td>{{ reclamation.id }}</td>
											</tr>
											<tr>
												<th>Description</th>
												<td>{{ reclamation.description }}</td>
											</tr>
											<tr>
												<th>Email Agent</th>
												<td>{{ reclamation.emailAgent }}</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{# {% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>EmailAgent</th>
                <td>{{ reclamation.emailAgent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %} #}
